* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
	height: 100%;
	box-sizing: border-box;
	background: rgba(40, 38, 40, 1.05);
	font-weight: 600;
	overflow: hidden;
}

.settings {
	background: rgba(40, 38, 40, 1.05) !important;
}

body {
	margin: 10px;
}

form * {
	margin: 10px 0;
}

h1 {
	margin-bottom: 18px;
	font-size: 2rem;
}

button {
	padding: 10px 20px;
	border: none;
	outline: none;
	color: white;
	background: #565656;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
	font-size: 1em;
	transition: all 0.2s linear;
}

button:hover {
	background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #565656;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

input[type='text'],
input[type='number'] {
	width: 300px;
	border: none;
	outline: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	background-color: transparent;
	font-size: 0.8em;
	color: #fff;
	margin-left: 10px;
}

#display-error {
	padding: 10px 20px;

	border: none;
	outline: none;

	color: white;

	background: #960000;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;

	font-size: 1em;

	transition: all 0.2s linear;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.formcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: rgba(40, 38, 40, 1.05) !important;
}

.formbox {
	background: rgba(40, 38, 40, 1.05) !important;
	box-sizing: border-box;
	padding: 50px;
	flex-direction: column;
	justify-content: space-around !important;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.selectmatchtype {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}

#divuserid {
	display: block;
}

#matchtype {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.invisible {
	display: none !important;
}

/* -------------------------------------------------------------------------------------------------------------- */
