* {
	padding: 0;
	margin: 0;
	font-family: 'QSVF', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
	height: 100%;
	box-sizing: border-box;
	background: rgb(32, 31, 32);
	font-weight: 600;
	overflow: hidden;
}

.settings {
	background: rgba(40, 38, 40, 1.05) !important;
}

form * {
	margin: 10px 0;
}

h1 {
	margin-bottom: 18px;
	font-size: 2rem;
}

button {
	padding: 10px 20px;
	border: none;
	outline: none;
	color: white;
	background: #565656;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
	font-size: 1em;
	transition: all 0.2s linear;
}

button:hover {
	background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #565656;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

input[type='text'],
input[type='number'] {
	width: 300px;
	border: none;
	outline: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	background-color: transparent;
	font-size: 0.8em;
	color: #fff;
	margin-left: 10px;
}

#display-error {
	padding: 10px 20px;

	border: none;
	outline: none;

	color: white;

	background: #960000;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;

	font-size: 1em;

	transition: all 0.2s linear;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.loadingapp {
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
}

.loadingapp.hidden {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
	display: none;
}

.ui.inverted.segment {
    height: calc(100% - 24px);
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */


.formcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	height: 100%;
	width: 60%;
	margin: auto;
	background: rgba(40, 38, 40, 1.05) !important;
}

.formheader {
	color: #fff;
	width: 100%;
	margin: auto;
	text-align: center;
	align-content: center;
	display: grid;
}

#form {
	width: 100%
}

.formheader table tr th {
	font-size: 2em;
}

.tabs {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 10px 0px 10px 0px;
}

.formbox {
	background: rgba(40, 38, 40, 1.05) !important;
	box-sizing: border-box;
	padding: 50px;
	flex-direction: column;
	justify-content: space-around !important;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 20px;
	width: 100% !important;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.selectmatchtype {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}

#divuserid {
	display: block;
}

#matchtype {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.invisible {
	display: none !important;
}

/* -------------------------------------------------------------------------------------------------------------- */

.ui.tabular.menu .item {
	color: #fff;
}

.ui.tabular.menu .item:hover {
	color: #fff;
}

.ui.attached.tabular.menu {
	background: rgba(40, 38, 40, 1) !important;
	border: 0px
}

.ui.tabular.menu .active.item {
	color: #fff;
	background-color: rgb(32, 31, 32);
	border: 1px solid rgb(28, 26, 28);
}

.ui.bottom.attached.tab.segment.active {
	background-color: transparent;
	border: 0px ;
	border-bottom: 0px;
	padding-bottom: 0px
}

.buttonField {
	display: flex;
	flex-direction: row;
	margin-left: 43.5px;
}

.ui.form {
	margin: auto;
    display: flex;
	flex-direction: column;
}

.ui.form .field > label {
	color: #fff
}

.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="file"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="text"], .ui.form input[type="time"], .ui.form input[type="url"] {
	background: rgba(40, 38, 40, 1);
	color: rgb(226, 226, 226);
}

.ui.form input:not([type]):focus, .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="file"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="url"]:focus {
	background: rgb(43, 41, 43);
	border: 1px solid rgb(28, 26, 28);
	color: rgb(220, 220, 220);
}

.ui.selection.dropdown {
	background: rgba(40, 38, 40, 1);
	color: rgb(226, 226, 226);
}

.ui.selection.dropdown:focus {
	background: rgb(43, 41, 43);
	border: 1px solid rgb(28, 26, 28);
	color: rgb(220, 220, 220);
}

.ui.selection.active.dropdown .menu {
	background: rgb(43, 41, 43);
	border: 1px solid rgb(28, 26, 28);
	color: rgb(220, 220, 220) !important;
}

.ui.selection.dropdown:focus .menu {
	background: rgb(43, 41, 43);
	border: 1px solid rgb(28, 26, 28);
	color: rgb(220, 220, 220) !important;
}

.ui.selection.dropdown .menu > .item {
	border-top: 1px solid rgb(28, 26, 28);
	color: rgb(226, 226, 226);
}

.ui.selection.visible.dropdown > .text:not(.default) {
	color: rgb(226, 226, 226);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.ui.form input[type="number"] {
  -moz-appearance: textfield;
}

.ui.form .required.field > label::after, .ui.form .required.fields.grouped > label::after, .ui.form .required.fields:not(.grouped) > .field > label::after {
    display: none;
}

.updatemessage {
	width: 50%;
	margin: auto;
	margin-bottom: 20px
}

.ui.dividing.header {
	border-bottom: 1px solid rgb(48, 48, 48);
	padding-bottom: 0px;
}

.ui.button {
	margin-left: 13px;
}

.ui.form .field.error input:not([type]), .ui.form .field.error input[type="date"], .ui.form .field.error input[type="datetime-local"], .ui.form .field.error input[type="email"], .ui.form .field.error input[type="file"], .ui.form .field.error input[type="number"], .ui.form .field.error input[type="password"], .ui.form .field.error input[type="search"], .ui.form .field.error input[type="tel"], .ui.form .field.error input[type="text"], .ui.form .field.error input[type="time"], .ui.form .field.error input[type="url"], .ui.form .field.error select, .ui.form .field.error textarea, .ui.form .fields.error .field input:not([type]), .ui.form .fields.error .field input[type="date"], .ui.form .fields.error .field input[type="datetime-local"], .ui.form .fields.error .field input[type="email"], .ui.form .fields.error .field input[type="file"], .ui.form .fields.error .field input[type="number"], .ui.form .fields.error .field input[type="password"], .ui.form .fields.error .field input[type="search"], .ui.form .fields.error .field input[type="tel"], .ui.form .fields.error .field input[type="text"], .ui.form .fields.error .field input[type="time"], .ui.form .fields.error .field input[type="url"], .ui.form .fields.error .field select, .ui.form .fields.error .field textarea {
	background: #372a2a;
}

.ui.form .field.error input:not([type]):focus, .ui.form .field.error input[type="date"]:focus, .ui.form .field.error input[type="datetime-local"]:focus, .ui.form .field.error input[type="email"]:focus, .ui.form .field.error input[type="file"]:focus, .ui.form .field.error input[type="number"]:focus, .ui.form .field.error input[type="password"]:focus, .ui.form .field.error input[type="search"]:focus, .ui.form .field.error input[type="tel"]:focus, .ui.form .field.error input[type="text"]:focus, .ui.form .field.error input[type="time"]:focus, .ui.form .field.error input[type="url"]:focus, .ui.form .field.error select:focus, .ui.form .field.error textarea:focus {
	background: #372a2a;
}

.ui.form .field.error .ui.dropdown, .ui.form .field.error .ui.dropdown .item, .ui.form .field.error .ui.dropdown .text, .ui.form .fields.error .field .ui.dropdown, .ui.form .fields.error .field .ui.dropdown .item {
	background: #372a2a;
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
	display: none;
}

.ui.dropdown .menu {
	background-color: rgb(43, 41, 43);
}

/* ---------------------------------WINDOW BAR----------------------------------------------------------------------------- */

.headerappbar {
    height: 24px;
    background-color: #171717;
    border-bottom: 0px solid;
    -webkit-app-region: drag;
    z-index: 3001;
}

#applicationName {
    padding: 0px;
    top: -10px;
    left: 15px;
    color: #ccc;
    font-weight: 900;
    font-size: 0.9em;
    cursor: unset;
}

#applicationButtons {
    height: 24px;
    margin-right: 4.6px;
    -webkit-app-region: no-drag;
	cursor: unset !important;
}

#applicationButtons button:hover, #applicationButtons button svg:hover {
    cursor: unset !important;
}

.headerappbarbutton {
    padding: 0px 8px !important;
    padding-top: 0.5px !important;
    background-color: transparent !important;
    fill: #fff !important;
    border-radius: 0px !important;
    margin: 0px !important;
	cursor: unset !important;
}

.headerappbarbutton:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

.closewinbutton:hover {
    background-color: rgba(255, 0, 0, 0.3) !important;
}



/* ================================================================= */

.appInfo {
	display: flex;
    position: absolute;
    bottom: 0px;
    padding: 1px 8px;
    color: #aaa;
	width: 100%;
	font-size: 10pt;
    font-weight: 600;
}

.copyright {
	position: absolute;
    padding-right: 8px;
    right: 0px;
}


/* ================================================================= */

.leftverticalmenu {
    background-color: #171717;
    height: calc(100% - 24px);
    width: 14rem;
    float: left;
	position: relative;
	transition: all 0.4s ease;
}

.ui.secondary.vertical.pointing.menu {
    flex-flow: wrap;
}

.ui.secondary.vertical.pointing.menu .item {
    border: 0px solid transparent;
    padding: 8px 13px;
    border-radius: 7px !important;
    position: relative;
    margin: 0px;
}

.ui.secondary.vertical.pointing.menu .active.item {
	color: #eee !important;
    background-color: rgba(40, 38, 40, 1.05);
    border: 0px solid transparent;
    padding: 8px 13px;
    border-radius: 7px !important;
    position: relative;
    margin: auto;
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
	border-color: transparent;
	color: #eee !important;
    background-color: rgb(40 38 40 / 55%);
    border: 0px solid transparent;
    padding: 8px 13px;
    border-radius: 7px !important;
    position: relative;
    margin: auto;
}

.leftmaintab {
    float: left !important;
    width: calc(100% - 8rem) !important;
    height: calc(100% - 24px) !important;
    padding: 0px !important;
	margin: 10px auto !important;
}

.ui.secondary.vertical.pointing.menu {
	width: 94%;
    border-right: 0px;
    margin: auto;
}

.ui.secondary.vertical.pointing.menu .active.item {
    color: #eee;
    border-color: #eee;
	margin-bottom: 3px !important;
}

.ui.secondary.vertical.pointing.menu .item {
    color: #aaa;
	display: flex;
    flex-direction: row;
    align-items: center;
	margin-bottom: 3px !important;
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    color: #ccc;
    border-color: #aaa;
	margin-bottom: 3px !important;
}

.item_text {
	margin-left: 10px;
}



.visualizer_settings_fields label{
	color: #fff;
	font-weight: 700;
}

.visualizer_settings_fields .field {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.visualizer_settings_fields .field label{
	color: #ccc !important;
	font-weight: 500;
}

.visualizer_settings_fields .info_text{
	color: #999 !important;
	font-weight: 400;
	margin-bottom: 1em;
}

.app_settings_fields label{
	color: #fff;
	font-weight: 700;
}

.app_settings_fields .field {
	margin-top: 5px !important;
}

.app_settings_fields .field label{
	color: #ccc !important;
	font-weight: 500;
}

.ui.toggle.checkbox label:before{
	background-color: #bbb;
}

.ui.toggle.checkbox label:hover::before {
	background-color: #bbb;
}

input::selection, textarea::selection {
	background-color: #bbb !important;
}

.ui.toggle.checkbox label:before {
	background-color: #bbb !important;
}

.ui.toggle.checkbox input:checked~label, .ui.toggle.checkbox input:focus:checked~label{
    color: #ccc !important;
	font-weight: 500;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before, .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #121212!important;
}

.Invisible {
	display: none
}

/*------------------------------------------------------------------------------------------------*/

.firstrun {
    z-index: 985;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #232323;
    color: #eee;
    text-align: center;
    display: flex;
	flex-direction: column;
}

.firstrun .content{
    margin: 40px auto auto auto;
}

.firstrun .content input{
    background-color: rgba(40, 38, 40, 1);
    border: 1px solid rgb(28, 26, 28);
    color: #ccc;
	height: 39px;
    font-size: 12px;
}

.firstrun .content input:focus{
    background-color: rgba(40, 38, 40, 1);
    border: 1px solid rgb(28, 26, 28);
    color: #ccc;
	height: 39px;
    font-size: 12px;
}

.firstrun .content label {
	bottom: -22px;
    position: absolute;
    left: 10px;
    font-size: 9pt;
}

.firstrun.hidden {
    animation: fadeOut 0.2s;
    animation-fill-mode: forwards;
	display: none;
}

.firstrun .header {
	height: auto;
    display: block;
    margin: auto auto 10px auto;
	font-size: 25pt;
	font-weight: 800;
}

.firstrun .header .text {
	height: auto;
    display: block;
    margin-top: 20px;
	font-size: 15pt;
	font-weight: 400;
}



#changelog_tab {
	color: #ccc;
	width: 100% !important;
}

#changelog_load_sign.hidden {
	animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
	display: none;
}

.changelog_content {
	position: fixed;
    overflow-y: auto;
    width: calc(100% - 196px);
    height: calc(100% - 26px);
    list-style-position: inside;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: -9px;
}




.ui.progress {
	background: rgba(0,0,0,0.3);
}

.ui.tiny.progress .bar {
	height: .35em;
	min-width: 0px !important;
}

#update_bar {
	position: absolute;
	bottom: 0px;
	margin: 0px;
	width: 84%;
	display: none;
}

.update_info {
	display: none;
	font-size: 11px;
    margin-top: 1px;
    font-weight: 800;
}


/*----------------------------------------------------------- Teams List -------------------------------------------*/

[data-position~=bottom][data-tooltip]:after{
	font-size: 12px;
    font-family: 'QSVF';
	z-index: 12;
}

[data-position~=top][data-tooltip]:after{
	font-size: 12px;
    font-family: 'QSVF';
	z-index: 12;
}

.card.newcard {
    height: 264.7px;
    border: 2px dashed #80c3ff !important;
	display: grid !important;
	grid-template-areas: 	'a'
							'b';
	grid-template-rows: 50% 50%;
	cursor: pointer !important;
}

.card.newcard::after {
	content: "";
    background-color: #80c3ffb8;
    height: 0.2px;
    width: 70%;
    bottom: 130px;
    left: 21.907px;
    position: absolute;
}

.card.newcard .addteam {
	grid-area: a;
    width: auto;
	height: 100%;
	display: flex;
	cursor: pointer !important;
}

.card.newcard .openfolder {
    grid-area: b;
    width: auto;
	height: 100%;
	display: flex;
	cursor: pointer !important;
}

.card.newcard .addteam .content, .card.newcard .openfolder .content{
    color: #80c3ff;
    fill: #80c3ff;
    width: auto;
    text-align: center;
    font-size: 14px;
    align-self: center;
	margin: auto;
	cursor: pointer !important;
}

.card.newcard .addteam .content #text, .card.newcard .openfolder .content #text{
  	cursor: pointer !important;
}

.card.newcard .addteam:hover, .card.newcard .openfolder:hover {
	background-color:rgba(0, 0, 0, 0.11)
}

#openfolderteams {
	margin: 0px 0px 10px 0px;
    padding: 10px;
    align-items: center;
    display: flex;
	fill: #222;
}

#teams_tab {
	margin: 15px 15px !important;
}

.ui.card>.button, .ui.card>.buttons, .ui.cards>.card>.button, .ui.cards>.card>.buttons {
    margin: 0;
    width: calc(100%);
    position: absolute;
    bottom: -34px;
}

.ui.card, .ui.cards>.card {
	max-width: 150px;
	font-size: 12px;
	background: #181818;
	box-shadow: 0 1px 3px 0 #2b2b2b, 0 0 0 1px #222223;
	-webkit-box-shadow: 0 1px 3px 0 #2b2b2b, 0 0 0 1px #222223;
	margin-bottom: 35px;
}

.ui.card, .ui.cards>.card>.content {
	flex-grow: 0;
}

.ui.cards>.card div.header {
	color: #DDD !important;
}

.ui.cards>.card .meta {
    display: flex;
	flex-direction: column;
	position: relative;
}

.ui.two.bottom.attached.buttons {
	width: 150px !important;
	display: flex;
    position: unset;
}

.ui.two.bottom.attached.buttons .button {
	background: transparent;
	color: #ddd;
	fill: #ddd;
	box-shadow: 0 0 0 0px transparent inset !important;
}

.ui.two.bottom.attached.buttons .button:hover {
	background: rgba(0, 0, 0, 0.11);
}

.team_player_list {
	display: flex;
    flex-direction: row;
    margin: auto !important;
    width: 140px;
    padding: 0px;
    flex-wrap: wrap;
}

.listeditteam {
	background: #181818;
}

.listeditteam_players {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 3px !important;
}

.team_player_list_noplayers {
	color: rgb(252, 82, 82);
    text-align: center;
    width: 140px;
	padding-bottom: 16px;
}

.team_player_list .list {
	display: flex;
    flex-direction: row;
    margin: auto !important;
    width: auto;
    padding: 0px;
    flex-wrap: wrap;
	justify-content: center;
}

.team_player_list_edit {
	display: block;
    position: absolute;
    z-index: 333;
	background: #181818;
	width: 150px;
    left: 0px;
	bottom: -18px;
}

.team_player_list_edit .list {
	display: flex;
    flex-direction: column;
    margin: auto !important;
    width: auto;
    padding: 0px;
    flex-wrap: wrap;
	justify-content: center;
}

.team_player_list_edit .list .item {
	display: flex;
    flex-direction: row;
	align-items: center;
	margin-right: 5px !important;
	margin-top: 0px !important;
	margin-bottom: 3px !important;
    height: 26px;
}

#teamname_input {
	margin-left: 8px;
    width: 134px;
    font-size: 11px;
}

input.errPlayer {
	border: 1px rgb(224, 83, 83) solid !important;
}

.buttoneditlist {
	height: 20px;
    font-size: 11px !important;
    padding: 3px 20px !important;
    border-radius: 15px !important;
    margin: auto !important;
    margin-top: 2px !important;
    background-color: transparent !important;
}

.buttoneditlist.add {
	border: 1px solid rgb(79, 79, 225);
	color: rgb(79, 79, 225);
	margin-top: 0px !important;
}

.buttoneditlist.add:hover {
	border: 1px solid rgb(79, 79, 225);
	color: rgb(65, 65, 225);
}

.buttoneditlist.save {
	border: 1px solid rgb(95, 224, 83);
	color: rgb(95, 224, 83);
	width: 65px;
	margin: 0px !important;
	margin-right: 3.5px !important;
}

.buttoneditlist.save:hover {
	border: 1px solid rgb(95, 224, 83);
	color: rgb(80, 221, 83);
}

.buttoneditlist.cancel {
	border: 1px solid rgb(224, 83, 83);
	color: rgb(224, 83, 83);
	width: 65px;
	margin: 0px !important;
	margin-left: 3.5px !important;
	padding: 3px 12px !important
}

.buttoneditlist.cancel:hover {
	border: 1px solid rgb(224, 83, 83);
	color: rgb(223, 68, 83);
}

.buttonremplayer {
	width: 25px;
    height: 25px;
    padding: 0px !important;
    border-radius: 50% !important;
	background-color: transparent !important;
	border: 1px solid rgb(224, 83, 83) !important;
	fill: rgb(224, 83, 83) !important;
	margin-left: 2px !important;
}

.list_buttons {
	flex-direction: row;
	display: flex;
	align-self: center;
	margin: 1px 0px 5px 0px;
}

.team_player_list_edit .list .item div.field {
	display: flex;
    height: 25px;
    align-content: center;
    vertical-align: middle;
}

.team_player_list_edit .list .item div.field input {
	padding: 4px;
    font-size: 10px;
	width: 76px;
}

.team_player_list .list img, .team_player_list_edit .list img {
	width: 25px;
	height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px !important;
    margin-bottom: 10px;
}

.team_player_list_edit {
	display: none;
    position: absolute;
    top: -35px;
	background: #181818;
}



/* GRID VISUALIZER SETTINGS */

/* #displayer-settings_tab {
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 23px) !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-left: 56px !important;
    padding-top: 10px !important;
    padding-right: 56px !important;
    width: calc(100% - 252px) !important;
} */

.displayerVisualization .container {
	display: grid;
	grid-template-columns: 50px 400px 50px;
	grid-template-rows: 30px 130px 30px 30px;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "topleft . topright"
	  ". displayer ."
	  "bottomleft teamscolors bottomright"
	  ". teamscolors .";
	color: #8181ff;
	transform: scale(1.1);
    margin-bottom: 10px;
  }

  .displayerVisualization .container .teamscolors {
	display: grid; 
	grid-template-columns: auto auto; 
	grid-template-rows: auto auto; 
	gap: 0px 0px; 
	grid-template-areas: 
    "team1color team2color"
    "team1text team2text"; 
	grid-area: teamscolors;
    height: 100%;
    width: 100%;
  }
  
  .displayerVisualization .container .team1color {
	grid-area: team1color;
    height: 100%;
    width: 100%;
  }
  .displayerVisualization .container .team1color .content{
    height: 20px;
    width: 40px;
    margin: auto;
    display: block;
    margin-top: 15px;
    border-radius: 20px;
  }

  .displayerVisualization .container .team2color {
	grid-area: team2color;
    height: 100%;
    width: 100%;
  }
  .displayerVisualization .container .team2color .content{
    height: 20px;
    width: 40px;
    margin: auto;
    display: block;
    margin-top: 15px;
    border-radius: 20px;
  }

  .displayerVisualization .container .team1text, .displayerVisualization .container .team2text {
	text-align: center;
  }

.displayerVisualization .container .displayer {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    ". . ."
    ". . height"
    ". width ."; 
	grid-area: displayer;
	border: 2px #8181ff solid;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 100%;
	background-color: #e5e5f7;
	opacity: 0.8;
	background: repeating-linear-gradient( -45deg, #8181ff57, #8181ff57 3.4px, transparent 2px, transparent 10px );
  }
  
  .displayerVisualization .container .topleft {
		grid-area: topleft;
		text-align: right;
		align-self: end;
	}
  
	.visualizerInputShow {
		padding: 4px !important;
		font-family: 'QSVF' !important;
		font-weight: 600;
		text-align: center;
		color: #8181ff !important;
	}

	.visualizerInputShow:read-only {
		background-color: transparent !important;
		border: 0px transparent !important;
		cursor:default
	}
	
  .displayerVisualization .container .topright {
	  grid-area: topright;
	  text-align: left;
	  align-self: end;
	}
  
  .displayerVisualization .container .bottomright {
	  grid-area: bottomright;
	  text-align: left;
	  align-self: baseline;
	}
  
  .displayerVisualization .container .bottomleft { 
	  grid-area: bottomleft; 
	  text-align: right;
	  align-self: baseline;
	}

  .displayerVisualization .container .width {
		grid-area: width;
		align-self: end;
		text-align: center;
		padding-bottom: 1px;
    }

  .displayerVisualization .container .height {
		grid-area: height;
		text-align: right;
		align-self: center;
		padding-right: 3px;
	}



@supports (font-variation-settings: normal) {
	@font-face {
	  font-family: 'QSVF';
	  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf') format('woff2 supports variations'),
		   url('/assets/fonts/Quicksand-VariableFont_wght.ttf') format('woff2-variations');
	  font-weight: 100 1000;
	}
  
  }


@media only screen and (max-height: 600px) {
	.visualizer_settings_fields {
		height: 272px;
		overflow: auto;
		padding-right: 15px;
		padding-left: 0.2px;
	}
  }


  body ::-webkit-scrollbar-track {
	  border-radius: 25px !important;
  }
