:root {
	--visualizer-border-radius : '0px 0px 0px 0px';
    --visualizer-background: url('/assets/images/redVSblue.png')
}


* {
	padding: 0;
	margin: 0;
	font-family: 'QSVF', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    box-sizing: border-box;
    background: rgba(40,38,40,1.05);
    font-weight: 600;
    overflow: hidden;
    background-color: transparent;
}

.settings {
    background: transparent !important;
}

body {
    margin: 10px;
}

form * {
    margin: 10px 0;
}

h1 {
    margin-bottom: 18px;
	font-size: 2rem;
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: white;
    background: #565656;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-size: 1em;
    transition: all 0.2s linear;
}

button:hover {
	background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #565656;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

input[type='text'],
input[type='number'] {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    font-size: 0.8em;
    color: #fff;
    margin-left: 10px;
}

#display-error {
	padding: 10px 20px;

	border: none;
	outline: none;

	color: white;

	background: #960000;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;

	font-size: 1em;

	transition: all 0.2s linear;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.formcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(40,38,40,1.05) !important;
}

.formbox {
    background: rgba(40,38,40,1.05) !important;
    box-sizing: border-box;
    padding: 50px;
    flex-direction: column;
    justify-content: space-around !important;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
    background-color: transparent;
}

.selectmatchtype {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#divuserid {
    display: block;
}


/* -------------------------------------------------------------------------------------------------------------- */

.v_header {
    width: 100%;
    height: 35px;
}

.v_content {
    width: 400px;
    height: 60px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around !important;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.v_footer {
    width: 100%;
    height: 35px;
    display: grid;
}

.tourney_info_top {
    font-size: 0.65em;
    font-weight: 400;
    display: block;
    margin-top: 2px;
}

.tourney_info_down {
    font-size: 0.65em;
    font-weight: 400;
    width: 150px;
    max-height: 30px;
    display: block;
    margin: auto;
    line-height: 15px;
    overflow: hidden;
}

.visualizer {
    background-image: var(--visualizer-background);
	/*background: linear-gradient(90deg, rgba(20, 53, 102, .9) 0%, rgba(36,41,52,.9) 30%, rgba(40,38,40,.9) 50%, rgba(58,38,39,.9) 70%, rgba(129, 37, 37, .9) 100%) !important;*/
	/*background-image: repeating-radial-gradient( circle at 0 , transparent 0, #00000029 20px ), linear-gradient(90deg, rgba(20, 53, 102, 1.05) 0%, rgba(40, 38, 40, 1.05) 50%, rgba(129, 37, 37, 1.05) 100%) !important;*/
    /*background: repeating-linear-gradient( -50deg, #00000014, #00000014 1px, #e5e5f700 20px, #e5e5f700 15px ), linear-gradient(90deg, rgba(20, 53, 102, 1.05) 0%, rgba(40, 38, 40, 1.05) 50%, rgba(129, 37, 37, 1.05) 100%) !important;*/
    width: 400px;
	height: 130px;
    border-radius: var(--visualizer-border-radius);
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-around !important;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	text-align: center;
}

.team1 {
	font-size: 12px;
	display: grid;
	order: 1;
	flex-basis: 25%;
}

.team2 {
	font-size: 12px;
	display: grid;
	order: 3;
	flex-basis: 25%;
}

.score {
	display: flex;
	order: 2;
}

.paddingfix {
	font-size: 1.2em;
    align-items: center;
}

.paddingfix * {
	padding: 2px 3px !important;
}

.paddingfix .odometer, .paddingfix .odometer-inside, .paddingfix .odometer-digit, .paddingfix .odometer-digit-spacer, .paddingfix .odometer-digit-inner, .paddingfix .odometer-ribbon, .paddingfix .odometer-ribbon-inner, .paddingfix .odometer-value {
	padding: 0px 0px !important;
}

.teaminner1 {
	display: table;
	font-size: 1.1em;
    font-weight: 600;
}

.teaminner2 {
	display: table;
	font-size: 1.1em;
    font-weight: 600;
}

.countryimg {
	height: 24px;
	margin: 6px;
}

.teamimg {
    height: 35px;
	margin: 6px;
}

.playerimg {
	height: 40px;
    margin: 6px, 6px, 1px, 6px;
    border-radius: 50%;
}

/*-----------------------------Qualifiers-----------------------------------*/


.team_Q_propic {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

}

.QualifiersData_Scores {
    height: 60px;
    overflow: hidden;
    vertical-align: bottom;
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
    align-items: center;
    padding-bottom: 2px;
    position: relative;
}

.QualifiersData_Scores table tr td img {
    height: 15px;
    vertical-align: middle;
    bottom: 1px;
    position: relative;
}

.QualifiersData_Scores:after {
    height: 1.4px;
    display: inline-block;
    width: 100%;
    background: white;
    border-right: 1px white;
    content: '';
    position: absolute;
    top: 61px;
}

.teamInformationQualifiers {
    width: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 8px;
    position: relative;
}

.mapsInfo {
    position: relative;
    left: 15px;
}

.numberMaps {
    line-height: 12px;
}

#numberMaps_maps {
    font-size: 12px;
    font-weight: 400;
}

.mapsLeft {
    font-size: 15px;
    margin-top: 5px;
}


















.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 300ms !important;
    -moz-transition-duration: 300ms !important;
    -ms-transition-duration: 300ms !important;
    -o-transition-duration: 300ms !important;
    transition-duration: 300ms !important
}


@supports (font-variation-settings: normal) {
	@font-face {
	  font-family: 'QSVF';
	  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf') format('woff2 supports variations'),
		   url('/assets/fonts/Quicksand-VariableFont_wght.ttf') format('woff2-variations');
	  font-weight: 100 1000;
	}
  
  }