.App {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-areas: "navbar content";
  padding: 24px 0 0 0;
  height: calc(100vh - 24px);
}

.content {
  border-top-left-radius: 6px;
  grid-area: content;
  background-color: #282c34;
  position: relative;
}

.container {
  display: flex;
  color: #ddd;
  max-height: calc(100vh - 46px);
  padding: 11px 16px;
  overflow: auto;
}

/* ------------------------------------------------------ */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border-top-left-radius: 6px;
  background-color: #282c34;
  min-height: calc(100vh - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
